@import "tailwindcss";
body {
  background-color: antiquewhite;
}
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 16px rgba(0, 255, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.4);
  }
}

@keyframes scannerMove {
  0% {
    transform: translateY(-130px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(130px);
    opacity: 0;
  }
}

.scanner-line {
  animation: scannerMove 2.5s linear infinite;
}
